body {
    background-color: #15131E;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar Section */
.navbar{
    height: 88px;
}

.input-group{
    width: 430px;
    height: 40px;
    background:#E9E7EC;
    margin-right: 32px;
}

.input-group-append{
    border: none;
}

.form-control{
    background:#E9E7EC;
}

/* Sidebar Section */