body {
    background-color: #15131E;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar Section */
.input-group{
    width: 280px;
    margin-top: 24px;
    background:#E9E7EC;
}

.input-group-append{
    border: none;
}

.form-control{
    background:#E9E7EC;
}

/* Sidebar Section */

#logo{  
    margin-top: 20px;
    width: 50%;
}


.bg-dark{
    background-color: #211E2B !important ;
    color: #E9E7EC;
}


.list-group-item{
    margin-bottom: 40px;
    border: none;
}

#foto{
    width: 130px;
    height: 130px;  
    
}

#foto{
margin: 40px 0px 40px 0px;
}

#sidebar{
    font-family: 'Source Sans Pro', sans-serif;
    color: #E9E7EC;
    font-weight: 600;
    font-size: 34px;
}
.active{
    color: #A7424A !important;
    border: none;
}

/* menu */

.navbar{
    height: 25px;
}

#menu{
    width: 50%;
}

#menu-toggle{
    background-color: #E9E7EC;
    border: none;
}

/* Tournament */
#tournament{
    background-color: #211E2B;
    width: 280px;
    margin-top: 30px;
    border-radius: 20px !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #E9E7EC;
    font-weight: 600;
    font-size: 18px;
}

#list-tour{
    background-color: #211E2B;
    border: none;
}

/* Transfer */
#transfer{
    background-color: #211E2B;
    width: 280px;
    margin-top: 50px;
    border-radius: 20px !important;
    font-family: 'Source Sans Pro', sans-serif;
    color: #E9E7EC;
    font-weight: 600;
    font-size: 18px;
}

#textarea-write{
    font-weight: 600;
    font-size: 30px;
    color: #E9E7EC !important;
    border-bottom: 4px solid #E9E7EC ;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-link{
    color: #A7424A !important;
}

#write-footer{
    font-size: 20px;
    font-weight: 600;
}

#caption{
    font-size: 20px;
    font-weight: 600;
}