body {
    background-color: #15131E;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar Section */
.navbar{
    height: 88px;
}

.input-group{
    width: 430px;
    height: 40px;
    background:#E9E7EC;
    margin-right: 32px;
}

.timeline-cover{
    background: url("../assets/Linkedin\ Cover.png") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 360px;
    border-radius: 0 0 4px 4px;
    position: relative;
  }

.input-group-append{
    border: none;
}

.form-control{
    background:#E9E7EC;
}

/* Sidebar Section */

#logo{  
    width: 100%;
}

#sidebarright-wrapper{
    border-radius: 20px;
}


.bg-dark{
    background-color: #211E2B !important ;
    color: #E9E7EC;
}


#sidebar-wrapper{
    border-radius: 0px 20px 20px 0px;
    font-weight: 600;
    font-size: 28px;
    width: 500px;
}

.list-group-item{
    margin-bottom: 40px;
}

#foto{
    width: 130px;
    height: 130px;  
    
}

#foto{
margin: 40px 0px 40px 0px;}

.navbar-nav li{
    margin-bottom: 56px;
}

.nav-link{
    color: #E9E7EC;
}

.nav-link:hover {
    color: #A7424A;
}


.active{
    color: #A7424A;
}

/* navbar */

@media (min-width: 400px){
#menu-toggle{
   display: none;
}
}

@media (max-width: 400px) {
    #menu-toggle{
        display: block;
    }
  }