/* Wrapper*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



#left-sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0px 20px 20px 0px !important;
}

#right-sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.left-toggled #left-sidebar-wrapper {
  width: 250px;
}

#wrapper.right-toggled #right-sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.left-toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#wrapper.right-toggled #page-content-wrapper {
  position: absolute;
}

/* Toggle Buttons */
#left-menu-toggle {
  position: absolute;
  left: 0; 
  bottom: 0; 
  background-color: #E9E7EC;
  z-index: 1001
}

#right-menu-toggle {
  position: absolute;
  right:0; 
  bottom: 0; 
  background-color: #E9E7EC;
  z-index: 1001
}

@media(max-width:4000px) {
  #left-menu-toggle{
    display: none;
  }
  #right-menu-toggle{
    display: none;
  }
}

@media(max-width:760px) {
  #left-menu-toggle{
    display: block;
  }
  #right-menu-toggle{
    display: block;
  }
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
      padding-right: 250px;
  }

  #wrapper.left-toggled {
      padding-left: 0;
  }

  #wrapper.right-toggled {
      padding-right: 0;
  }

  #left-sidebar-wrapper {
      width: 315px;
  }

  #right-sidebar-wrapper {
      width: 315px;
  }

  #wrapper.left-toggled #left-sidebar-wrapper {
      width: 0;
  }

  #wrapper.right-toggled #right-sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 50px;
      position: relative !important;
  }

  #wrapper.left-toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #wrapper.right-toggled #page-content-wrapper {
      position: relative;
      margin-left: 0;
  }
}
